@{
    ViewData["Title"] = "Inicial";
}

<link rel="stylesheet" href="~/css/Covid.css">


<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Javascript" id="jsButton">Lista top10 Covid JS</a>
</li>
<li class="nav-item">
    <a class="nav-link" asp-area="" asp-controller="CovidData" asp-action="Top10ActiveCases" id="csharpButton">Lista top10 Covid C#</a>
</li>